* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.me-img img {
  width: 250px;
  border-radius: 50%;
}

.header h1 {
  font-size: 50px;
}

.header p {
  font-size: 20px;
  line-height: 2;
  width: 50vw;
  margin: 30px auto;
}

.certifications {
  text-align: center;
  font-size: 30px;
}

.cert {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 75%;
}

.cert img {
  width: 100%;
}

.my-work {
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default to 4 columns */
  gap: 10px;
}

.images img {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 5px;
}

/* Responsive Layout */
@media (max-width: 1200px) {
  .images {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  }
}

@media (max-width: 900px) {
  .images {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 columns on medium screens (tablets) */
  }
}

@media (max-width: 600px) {
  .images {
    grid-template-columns: 1fr; /* 1 column on small screens (phones) */
  }
}
